nav > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
}

nav li {
	margin: 0.5em;
	padding: 0;
	font-size: 1.5rem;
	flex: 1 1 0%;
}

@media (min-width: 45em) {
	nav > ul {
		flex-direction: row;
	}
	nav li {
		flex: 1;
		font-size: 1em;
	}
}

nav a {
	display: block;
	padding: 0.4em;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	transition: all .25s ease-in;
}

/*     submenu navigation links      */

nav .submenu {
	visibility: hidden;
	height: 0;
	z-index: 1000;
}

nav .submenu li {
	display: block;
	/* width: 15em; */
}
/**     Show the submenu on hover, focus     **/

nav li:hover .submenu,
nav li:active .submenu,
nav li:focus .submenu {
	visibility: visible;
	height: auto;
}

nav li:focus-within .submenu {
	visibility: visible;
	height: auto;
}
