label{
    width:10em;
    display: block;
    float:left;
}
#ok{
    width: 20%;
    height:5%;
    overflow: hidden;
    float:right;
    margin-right: 1em;
    margin-bottom: 1em;
    background: linear-gradient(to bottom, white, grey);
    box-shadow: inset 0px 0px 6px #fff, inset 0px-1px 6px #fff;
    border: 1px solid;
    border-radius: 1em;

}
